.package
  background-color: $light
  padding-top: 40px
  padding-bottom: 70px
  &__title
    margin-top: 0
    margin-bottom: 65px
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-transform: uppercase
    text-align: center
  &-wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    column-gap: 30px
    row-gap: 30px
  &-card
    display: grid
    grid-template-rows: 1fr 1fr
    height: 500px
    border-radius: 8px
    overflow: hidden
  &-image
    position: relative
  &__image
    position: absolute
    width: 100%
    height: 100%
  &-info
    position: relative
    padding: 30px
    width: 100%
    background-color: $dark
    &__title
      margin-top: 0
      margin-bottom: 23px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      color: $light
    &__text
      margin-bottom: 34px
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160.6%
      color: $light
  &-info-one
    padding: 46px 21px 35px 43px
  &-description
    display: grid
    grid-template-rows: repeat(3, 1fr)
    grid-template-columns: 28px 1fr
    grid-row-gap: 11px
    margin-bottom: 24px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $light
  &-description-one
    margin-bottom: 37px
  &-price
    display: grid
    grid-template-rows: auto 1fr
    grid-row-gap: 5px
    color: $light
    &__old
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
    &__new
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
.flash-button
  position: absolute
  padding: 4px 9px
  left: -4px
  top: 26px
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 15px
  background-color: $primary
  color: $light
  border: none
  border-radius: 4px
  cursor: pointer
.flash-button--one
  padding: 8px 12px
.card1-grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr
  grid-column-start: 1
  grid-column-end: 3
.package__button
  position: absolute
  padding: 10px 26px
  right: 21px
  bottom: 25px
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 19px
  background-color: $primary
  color: $light
  border: none
  border-radius: 4px
  cursor: pointer
  &-one
    bottom: 30px
